chromadb
easyocr
faster-whisper
langchain
langchain-classic
langchain-community
langchain-chroma
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-huggingface
langchain-openrouter
langchain-text-splitters
langsmith
opencv-python
pillow
pydantic
pydub
rank_bm25
sentence-transformers
torch
yt-dlp
tiktoken
python-dotenv
imageio-ffmpeg
